#header { background: $blue;
	.btn-just-icon { text-align: left; }
	.navbar-toggle { top: 11px; }
	.logo-container { margin: 20px 0 15px 15px; overflow: hidden;
		img { height: 42px; width: 270px; }
		img, h1 { float: left; }
		h1 { margin: 6px 0 0 10px; font-size: 28px; }
		@media (min-width: $screen-sm-min) { margin-left: 0; }
	}
	.icon-bar { background: #fff; }
	.navbar-nav { margin: 0;
		li a:hover { text-decoration: underline; background: none; }
	}
	a { color: #fff; font-size: 16px;
		&:hover, , &:visited, &:focus, &:active { text-decoration: none; background: none; outline: none; }
	}
	ul li a { padding-left: 0; }
	.fa { position: relative; top: -2px; }
	.social-mobile a {
		float: left;
	}

	@media (min-width: $screen-sm-min) {
		ul li a { padding-left: 10px; }
		.navbar-nav { margin-top: 15px; }
	}

	@media (min-width: $screen-md-min) {
		ul li a { padding-left: 15px; }
		.navbar-nav { margin-top: 15px; }
		.logo-container {
			img { height: 36px; width: 230px; }
			h1 { margin: 11px 0 0 15px; font-size: 36px; }
		}
	}
}
