#hero { position: relative; background-color:$blue; padding: 25px 0 75px 0; background-position: top left; background-size: cover; color: #fff;
	h2 { margin-top: 0; font-weight: 400; font-size: 26px; }
	.brand { margin-bottom: 50px; padding-top: 25px; }
	.coin-currency-dropdown {
	    border-radius: 3px;
	    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	    -webkit-transition: all 100ms linear;
	    -moz-transition: all 100ms linear;
	    -o-transition: all 100ms linear;
	    -ms-transition: all 100ms linear;
	    transition: all 100ms linear;
		position: absolute;
		right: 0;
		top: 32px;
		padding: 10px 0 0 15px;
		z-index: 1;
		background: #fff;

		.coin { width: 270px; margin-bottom: 10px; cursor: pointer;
			i { font-size: 20px; }
		}
	}

	.selectedCoin { position: absolute; top: 5px; right: 10px; cursor: pointer; font-size: 18px; font-weight: 700; color: #fff;
		i.fa-angle-down { position: relative; top: 2px; margin-left: 8px; }
		.coin-icon { position: relative; top: 1px; }
		span { position: relative; top: 2px; left: -10px; }
	}

	.alert { position: fixed; top: 0; left: 0; width: 100%; z-index: 2; }

	@media (min-width: $screen-sm-min) { padding: 0 0 75px;
		.brand { padding-top: 40px; }
		.alert { position: absolute; }
		h2 { font-size: 34px; }
	}
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}
